# Copyright 2022 Google LLC
#
# Use of this source code is governed by a BSD-style
# license that can be found in the LICENSE file or at
# https://developers.google.com/open-source/licenses/bsd

# A workflow to publish the official NPM package.
name: Publish to NPM

# Runs when called from another workflow.
# Can also be run manually for debugging purposes.
on:
  workflow_call:
    inputs:
      tag:
        required: true
        type: string
      latest:
        required: true
        type: boolean
    secrets:
      NPM_PACKAGE_NAME:
        required: true
  # For manual debugging:
  workflow_dispatch:
    inputs:
      tag:
        description: The tag to build from.
        required: true
        type: string
      latest:
        description: If true, push to the "latest" tag.
        required: true
        type: boolean

jobs:
  publish:
    name: Publish
    runs-on: ubuntu-latest

    permissions:
      # Required for OIDC ("trusted publishing")
      id-token: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          ref: ${{ inputs.tag }}
          persist-credentials: false

      - uses: actions/setup-node@v4
        with:
          # NOTE: OIDC fails with node less than 24.
          node-version: 24
          registry-url: 'https://registry.npmjs.org'

      # NOTE: OIDC fails with npm less than 11.5.1.
      - name: Update npm
        run: sudo npm install -g npm@11.7

      - name: Compute NPM tags
        run: |
          # NPM publish always sets a tag.  If you don't provide an explicit
          # tag, you get the "latest" tag by default, but we want "latest" to
          # always point to the highest version number.  So we set an explicit
          # tag on every "publish" command, either "latest" for the latest, or
          # a dummy tag otherwise.

          # We only tag the NPM package as "latest" if this release is the
          # highest version to date.
          GIT_TAG_NAME=${{ needs.release.outputs.tag_name }}
          RELEASE_TAGS=$(git tag | grep ^v[0-9] | grep -Ev -- '-(master|main)')
          LATEST_RELEASE=$(echo "$RELEASE_TAGS" | sort --version-sort | tail -1)

          NPM_VERSION=$(echo "$GIT_TAG_NAME" | sed -e 's/^v//')
          echo "NPM_VERSION=$NPM_VERSION" >> $GITHUB_ENV

          if [[ "$GIT_TAG_NAME" == "$LATEST_RELEASE" ]]; then
            NPM_LATEST=true
          else
            NPM_LATEST=false
          fi
          echo NPM_LATEST=$NPM_LATEST >> $GITHUB_ENV

          # Debug the decisions made here.
          echo "Latest release: $LATEST_RELEASE"
          echo "This release: $GIT_TAG_NAME"
          echo "NPM latest: $NPM_LATEST"
          echo "NPM version: $NPM_VERSION"

      - name: Set package name, version, and URL
        run: |
          # NOTE: OIDC fails if the repository URL doesn't match package.json.
          npm pkg set repository.url=https://github.com/${{ github.repository }}
          npm pkg set name="${{ secrets.NPM_PACKAGE_NAME }}"
          npm pkg set version="${{ env.NPM_VERSION }}"

      - name: Publish
        run: |
          cd npm

          # Publish with an explicit tag.
          # NOTE: --access public is required for scoped forks.
          if [[ "$NPM_LATEST" == "true" ]]; then
            # The "latest" tag is implied and automatic.
            npm publish --access public
          else
            # You can't **not** have a tag.  So if we don't want to overwrite
            # "latest" (implied default), we have to overwrite something else.
            # Even with NPM 11, if you don't do this, instead of overwriting
            # "latest", it will detect that it's inappropriate, and **fail**.
            # See https://github.com/npm/npm/issues/10625
            # and https://github.com/npm/cli/issues/7553
            # See also https://github.com/npm/cli/issues/8547, which killed our
            # system of branch-specific tags.
            npm publish --access public --tag tag-required-see-npm-bug-10625
          fi
