# This file is required, even if empty.
# The default .npmignore would explicitly disallow bin/, which is the whole
# point. Every release before v3.0.3 had this bug and is unusable in npm, and
# has been marked as deprecated because of it.
